# 第2章: UNIXコマンドの基礎

hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ

## データの読み込み

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/hightemp.txt", delimiter="\t", header=None)

In [3]:
df.head(2)

     0    1     2           3
0  高知県  江川崎  41.0  2013-08-12
1  埼玉県   熊谷  40.9  2007-08-16

## 10.行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [4]:
len(df.index)

24

In [5]:
!wc ../data/hightemp.txt

      24      98     813 ../data/hightemp.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

> https://rcmdnk.com/blog/2016/09/13/computer-gnu-bsd-linux-mac/

BSD(Mac)だとタブは普通に\tでうまくいかないらしい

In [6]:
with open("../data/hightemp.txt") as f:
    ht = [i.replace("\t", " ") for i in f.readlines()]

In [7]:
ht[:2]

['高知県 江川崎 41 2013-08-12\n', '埼玉県 熊谷 40.9 2007-08-16\n']

In [20]:
# sed(gsed)を使った置換
!sed -e s/$'\t'/" "/g ../data/hightemp.txt | head -n 2

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16

In [9]:
# trを使った置換
!cat  ../data/hightemp.txt | tr  \\t " " | head -n 2

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16

In [10]:
# perlを使った置換
!cat ../data/hightemp.txt | perl -0pe 's/\t/ /gm' | head -n 2

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [33]:
with open("../data/col1.txt", "w") as f:
    f.write("\n".join(df[0].values))
    
with open("../data/col2.txt", "w") as f:
    f.write("\n".join(df[1].values))

In [38]:
!cat ../data/col1.txt | head -n 2

高知県
埼玉県

In [36]:
!cat ../data/hightemp.txt | cut -f1 | head -n 2

高知県
埼玉県